<div class="hero row">
  <div class="col p-3">
    <img
      class="hero__main"
      src="../../../assets/Nike,_Inc.-Nike-White-Logo.wine.svg"
    />
  </div>
  <div class="col">
    <ul class="hero__list">
      <li class="hero__list--element">
        <a class="hero__list--link" href="#">
          <div class="row">
            <div class="col-2">
              <img class="hero__list--image" src="https://dummyimage.com/30x40/ffffff/000000&text=img" alt="" />
            </div>
            <div class="col hero__list--text">text</div>
          </div>
        </a>
      </li>
      <li class="hero__list--element">
        <a class="hero__list--link" href="#">
          <div class="row">
            <div class="col-2">
              <img class="hero__list--image" src="https://dummyimage.com/30x40/ffffff/000000&text=img" alt="" />
            </div>
            <div class="col hero__list--text">text</div>
          </div>
        </a>
      </li>
      <li class="hero__list--element">
        <a class="hero__list--link" href="#">
          <div class="row">
            <div class="col-2">
              <img class="hero__list--image" src="https://dummyimage.com/30x40/ffffff/000000&text=img" alt="" />
            </div>
            <div class="col hero__list--text">text</div>
          </div>
        </a>
      </li>
      <li class="hero__list--element">
        <a class="hero__list--link" href="#">
          <div class="row">
            <div class="col-2">
              <img class="hero__list--image" src="https://dummyimage.com/30x40/ffffff/000000&text=img" alt="" />
            </div>
            <div class="col hero__list--text">text</div>
          </div>
        </a>
      </li>
      <li class="hero__list--element">
        <a class="hero__list--link" href="#">
          <div class="row">
            <div class="col-2">
              <img class="hero__list--image" src="https://dummyimage.com/30x40/ffffff/000000&text=img" alt="" />
            </div>
            <div class="col hero__list--text">text</div>
          </div>
        </a>
      </li>
      <li class="hero__list--element">
        <a class="hero__list--link" href="#">
          <div class="row">
            <div class="col-2">
              <img class="hero__list--image" src="https://dummyimage.com/30x40/ffffff/000000&text=img" alt="" />
            </div>
            <div class="col hero__list--text">text</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<app-products class="row"></app-products>
