<section class="text-white bg-dark">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
        Admin C.R.U.D.
      </p>
      <form class="mx-1 mx-md-4" (ngSubmit)="addOrEditProduct()">
        <div class="d-flex flex-row align-items-center mb-4">
          <div class="form-outline flex-fill mb-0">
            <input
              type="number"
              id="form3Example1c"
              min="0"
              [disabled]="formProductId"
              class="form-control"
              placeholder="Product ID"
              required
              name="searchId"
              [(ngModel)]="formIdValue"
              (blur)="searchForId()"
              (keydown.enter)="searchForId()"
            />
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <div class="form-outline flex-fill mb-0">
            <input
              type="text"
              id="form3Example1c"
              minlength="10"
              class="form-control"
              placeholder="Add product Name"
              required
              [(ngModel)]="product.name"
              name="name"
            />
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <div class="form-outline flex-fill mb-0">
            <input
              type="text"
              id="form3Example1c"
              class="form-control"
              placeholder="Add product image link"
              required
              [(ngModel)]="product.image"
              name="image"
              [alt]="product.image"
            />
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <div class="form-outline flex-fill mb-0">
            <input
              type="text"
              id="form3Example1c"
              class="form-control"
              placeholder="Product Description"
              required
              [(ngModel)]="product.Details"
              name="Details"
            />
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <div class="form-outline flex-fill mb-0">
            <input
              type="number"
              class="form-control"
              placeholder="Add product quantity"
              min="0"
              value="0"
              [(ngModel)]="product.quantity"
              name="quantity"
            />
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <div class="form-outline flex-fill mb-0">
            <input
              type="number"
              class="form-control"
              min="0"
              placeholder="Add product Price"
              value="0"
              [(ngModel)]="product.price"
              name="price"
            />
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <div class="form-outline flex-fill mb-0">
            <form class="form-floating">
              <select
                class="form-select"
                id="floatingSelect"
                aria-label="Floating label select example"
                [(ngModel)]="product.cateogryID"
                name="cateogryID"
              >
                <ng-container *ngFor="let category of categories">
                  <option
                    value="{{ category.cateogryID }}"
                    [ngValue]="category.cateogryID"
                    *ngIf="category.cateogryID != 0"
                  >
                    {{ category.categoryName }}
                  </option>
                </ng-container>
              </select>
              <label for="floatingSelect">Product Category</label>
            </form>
          </div>
        </div>

        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
          <input
            type="submit"
            class="btn btn-sm btn-secondary me-3"
            value="Save Product"
          />

          <input
            type="button"
            class="btn btn-sm btn-secondary me-3"
            value="Edit Product"
            (click)="formIdField()"
          />

          <input
            type="button"
            class="btn btn-sm btn-secondary"
            value="Delete Product"
            [disabled]="formProductId"
            (click)="deleteProduct()"
          />
        </div>
      </form>
    </div>
  </div>
</section>
