* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 0.86rem;
  letter-spacing: 1.05px;
  background-color: rgb(32, 32, 32);
}

.footer {
  padding: 1.25rem 4.5rem 2.5rem;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0;
  padding: 0;
}

.ulLink {
  flex-direction: column;
  align-items: start;
  padding: 0 1.5rem 0.5rem 0;
}

.col-5 {
  width: 13.2.5rem;
}

li {
  margin: 0 0.625rem 0 0;
}
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}
i {
  font-size: 1.75rem;
  &.fa-chevron-up {
    font-size: 1.35rem;
    border: 2px #ffffff solid;
    margin: 1.25rem 1rem 0 0;
    padding: 0.25rem;
  }
}

h6 {
  font-size: 0.86rem;
  font-weight: 700;
  color: #ccc;
  text-transform: uppercase;
  opacity: 0.4;
  padding-top: 1.29rem;
  margin-bottom: 0.25rem;
}
