* {
  background-color: rgb(18, 18, 18);
  color: #fff;
  font-size: 0.875rem;
}

.name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    color: aqua;
  }
}
.pointer {
  cursor: pointer;
}
.img-fluid {
  border-radius: 10px;
  margin-bottom: 1rem;
}
.mainCards {
  position: relative;
  // box-shadow: 0.05rem 0.05rem rgb(65, 65, 65);
  margin: 0.5rem;
  padding: 0.5rem;
  &:hover {
    transform: scale(1.05);
  }
}
.button {
  text-decoration: none;
  border-radius: 10px;
  border: #fff 2px solid;
  text-align: center;
  margin: 0.25rem;
  &:hover {
    background-color: white !important;
    color: black !important;
    font-weight: bolder;
  }
}

.low {
  &.card {
    border: solid 3px #d9e66a;
    &button {
      background-color: #d9e66a;
    }
  }
}
.zero {
  &.card {
    border: solid 3px #571212;
  }
}
.gd {
  .offer {
    position: absolute;
    z-index: 50;
    color: #12501f;
    border: solid 3px #12501f;
    background-color: #fff;
    border-radius: 30%;
    font-weight: bolder;
  }
}
