<!-- day one
<p>the store {{ adidas.storeName }}</p>
<img class="image" src="{{ adidas.logo }}" />
<p>{{ clientName }}</p>
<hr />
<p>
  the amount you cut off if u buy this product now is
  <strong> {{ Discount }} </strong>
</p>
<p>product type {{ product1.name }}</p>
<p>product price is {{ product1.price }}</p>
<img class="image" src="{{ product1.image }}" /> -->
<!-- /////////////////////////////////////////////////////////////// -->

<div class="mb-3">
  <!-- day3
  <div class="col-2 p-2">Filter by name :</div>
  <div class="col-4 p-2">
    <input type="text" class="form-control" [(ngModel)]="childListFilter" />
  </div>
  <div class="col-3 p-2">u can filter by cateogrys :</div>
  <div class="col-9 m-1 p-1">
    <input
      type="radio"
      class="btn-check"
      name="options"
      id="option0"
      autocomplete="off"
      value="0"
      [(ngModel)]="childCateogryFilter"
    />
    <label class="btn btn-secondary" for="option0">All</label>
    <input
      type="radio"
      class="btn-check"
      name="options"
      id="option1"
      autocomplete="off"
      value="7"
      [(ngModel)]="childCateogryFilter"
    />
    <label class="btn btn-secondary" for="option1">Lifestyle</label>

    <input
      type="radio"
      class="btn-check"
      name="options"
      id="option2"
      autocomplete="off"
      value="6"
      [(ngModel)]="childCateogryFilter"
    />
    <label class="btn btn-secondary" for="option2">Running</label>
    <input
      type="radio"
      class="btn-check"
      name="options"
      id="option3"
      autocomplete="off"
      value="5"
      [(ngModel)]="childCateogryFilter"
    />
    <label class="btn btn-secondary" for="option3">Tennis</label>
    <input
      type="radio"
      class="btn-check"
      name="options"
      id="option4"
      autocomplete="off"
      value="4"
      [(ngModel)]="childCateogryFilter"
    />
    <label class="btn btn-secondary" for="option4">Football</label>
    <input
      type="radio"
      class="btn-check"
      name="options"
      id="option5"
      autocomplete="off"
      value="3"
      [(ngModel)]="childCateogryFilter"
    />
    <label class="btn btn-secondary" for="option5">Walking</label>
    <input
      type="radio"
      class="btn-check"
      name="options"
      id="option6"
      autocomplete="off"
      value="2"
      [(ngModel)]="childCateogryFilter"
    />
    <label class="btn btn-secondary" for="option6">Basketball</label>
    <input
      type="radio"
      class="btn-check"
      name="options"
      id="option7"
      autocomplete="off"
      value="1"
      [(ngModel)]="childCateogryFilter"
    />
    <label class="btn btn-secondary" for="option7">Slides</label>
  </div>
</div>
 <div class="col-4 p-2">
  <h5>{{theNum|credit}}</h5>
</div>  -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <!-- <div class="col-6 col-lg-3" *ngFor="let product of filterdProducts"> -->
    <!-- <div class="col-6 col-lg-3" *ngFor="let product of categoriesedProducts"> -->
    <div class="col-6 col-lg-3" *ngFor="let product of listByPrice">
      <div
        class="card mainCards"
        [class.low]="product.quantity == 3"
        [class.zero]="product.quantity == 0"
        [class.gd]="product.discount == '50%'"
        cardStyle
      >
        <img *ngIf="showLogo" [src]="product.image" class="img-fluid pointer" />
        <img
          *ngIf="!showLogo"
          src="https://via.placeholder.com/210/ccc?text=in cart"
          class="img-fluid pointer"
          cardStyle
        />
        <h5 class="name pointer">{{ product.name }}</h5>
        <h5>
          <ng-container [ngSwitch]="product.cateogryID">
            <ng-container *ngSwitchCase="7">Lifestyle</ng-container>
            <ng-container *ngSwitchCase="6">Running</ng-container>
            <ng-container *ngSwitchCase="5">Tennis</ng-container>
            <ng-container *ngSwitchCase="4">Football</ng-container>
            <ng-container *ngSwitchCase="3">Walking</ng-container>
            <ng-container *ngSwitchCase="2">Basketball</ng-container>
            <ng-container *ngSwitchCase="1">Slides</ng-container>
          </ng-container>
        </h5>
        <h5>
          <ng-container *ngIf="product.quantity > 1; else zero"
            >{{ product.quantity }} item in stock</ng-container
          >
          <ng-template #zero>item,out of stock </ng-template>
        </h5>
        <h5 *ngIf="!showLogo">
          Thanks for purchasing from our Store {{ clientName }}
        </h5>
        <h5 *ngIf="product.discount == '50%'">
          We offer an explicit discount of: {{ product.discount }}
        </h5>
        <h5 class="offer" *ngIf="product.discount == '50%'">
          {{ product.discount }}
        </h5>
        <h5>${{ product.price }}</h5>
        <button
          class="button"
          (click)="addToCart(product)"
          [disabled]="product.quantity == 0"
        >
          Add to cart
        </button>
        <button
          class="button"
          (click)="BuyFunc(product)"
          [disabled]="product.quantity == 0"
        >
          buy
        </button>
      </div>
    </div>
  </div>
</div>

