<div class="span">
  <span> Filters </span>
</div>
<div class="search">
  <img class="search__icon" src="../../../assets/search.svg" />
  <input class="search__input" type="search" placeholder="Keywords" />
</div>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <a
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapse1"
        aria-expanded="false"
        aria-controls="flush-collapse1"
      >
        Events
      </a>
    </h2>
    <div
      id="flush-collapse1"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <ul class="asideMenu">
          <li class="asideMenu__option">Square Enix Golden Week Sale</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <a
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapse2"
        aria-expanded="false"
        aria-controls="flush-collapse2"
      >
        Price
      </a>
    </h2>
    <div
      id="flush-collapse2"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <ul class="asideMenu">
          <li class="asideMenu__option">Free</li>
          <li class="asideMenu__option">Under $5.00</li>
          <li class="asideMenu__option">Under $10.00</li>
          <li class="asideMenu__option">Under $20.00</li>
          <li class="asideMenu__option">Under $30.00</li>
          <li class="asideMenu__option">$14.99 and above</li>
          <li class="asideMenu__option">Discounted</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <a
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapse3"
        aria-expanded="false"
        aria-controls="flush-collapse3"
      >
        Events
      </a>
    </h2>
    <div
      id="flush-collapse3"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <ul class="asideMenu">
          <li class="asideMenu__option">Square Enix Golden Week Sale</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <a
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapse4"
        aria-expanded="false"
        aria-controls="flush-collapse4"
      >
        Events
      </a>
    </h2>
    <div
      id="flush-collapse4"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <ul class="asideMenu">
          <li class="asideMenu__option">Square Enix Golden Week Sale</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <a
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapse5"
        aria-expanded="false"
        aria-controls="flush-collapse5"
      >
        Events
      </a>
    </h2>
    <div
      id="flush-collapse5"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <ul class="asideMenu">
          <li class="asideMenu__option">Square Enix Golden Week Sale</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <a
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapse6"
        aria-expanded="false"
        aria-controls="flush-collapse6"
      >
        Events
      </a>
    </h2>
    <div
      id="flush-collapse6"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <ul class="asideMenu">
          <li class="asideMenu__option">Square Enix Golden Week Sale</li>
        </ul>
      </div>
    </div>
  </div>
</div>
