<app-content-section
  class="col"
  [childListFilter]="listFilter"
  [childCateogryFilter]="cateogryFilter"
  [childPriceFilter]="priceFilter"
></app-content-section>

<div class="col-2">
  <div class="span">
    <span> Filters </span>
  </div>
  <div class="search">
    <img class="search__icon" src="../../../assets/search.svg" />
    <input
      class="search__input"
      type="search"
      placeholder="Keywords"
      [(ngModel)]="listFilter"
    />
  </div>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse0"
          aria-expanded="false"
          aria-controls="flush-collapse0"
        >
          Cateogry
        </a>
      </h2>
      <div
        id="flush-collapse0"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div>
            <ul class="asideMenu">
              <li class="asideMenu__option">
                <input
                  type="radio"
                  class="btn-check"
                  name="options"
                  id="option0"
                  autocomplete="off"
                  value="0"
                  [(ngModel)]="cateogryFilter"
                />
                <label for="option0">All</label>
              </li>
              <li class="asideMenu__option">
                <input
                  type="radio"
                  class="btn-check"
                  name="options"
                  id="option1"
                  autocomplete="off"
                  value="7"
                  [(ngModel)]="cateogryFilter"
                />
                <label for="option1">Lifestyle</label>
              </li>

              <li class="asideMenu__option">
                <input
                  type="radio"
                  class="btn-check"
                  name="options"
                  id="option2"
                  autocomplete="off"
                  value="6"
                  [(ngModel)]="cateogryFilter"
                />
                <label for="option2">Running</label>
              </li>
              <li class="asideMenu__option">
                <input
                  type="radio"
                  class="btn-check"
                  name="options"
                  id="option3"
                  autocomplete="off"
                  value="5"
                  [(ngModel)]="cateogryFilter"
                />
                <label for="option3">Tennis</label>
              </li>
              <li class="asideMenu__option">
                <input
                  type="radio"
                  class="btn-check"
                  name="options"
                  id="option4"
                  autocomplete="off"
                  value="4"
                  [(ngModel)]="cateogryFilter"
                />
                <label for="option4">Football</label>
              </li>
              <li class="asideMenu__option">
                <input
                  type="radio"
                  class="btn-check"
                  name="options"
                  id="option5"
                  autocomplete="off"
                  value="3"
                  [(ngModel)]="cateogryFilter"
                />
                <label for="option5">Walking</label>
              </li>
              <li class="asideMenu__option">
                <input
                  type="radio"
                  class="btn-check"
                  name="options"
                  id="option6"
                  autocomplete="off"
                  value="2"
                  [(ngModel)]="cateogryFilter"
                />
                <label for="option6">Basketball</label>
              </li>
              <li class="asideMenu__option">
                <input
                  type="radio"
                  class="btn-check"
                  name="options"
                  id="option7"
                  autocomplete="off"
                  value="1"
                  [(ngModel)]="cateogryFilter"
                />
                <label for="option7">Slides</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse2"
          aria-expanded="false"
          aria-controls="flush-collapse2"
        >
          Price
        </a>
      </h2>
      <div
        id="flush-collapse2"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <ul class="asideMenu">
            <li class="asideMenu__option">
              <input
                type="radio"
                class="btn-check"
                name="options"
                id="price1"
                autocomplete="off"
                value="0"
                [(ngModel)]="priceFilter"
              />
              <label for="price1">All</label>
            </li>
            <li class="asideMenu__option">
              <input
                type="radio"
                class="btn-check"
                name="options"
                id="price2"
                autocomplete="off"
                value="50"
                [(ngModel)]="priceFilter"
              />
              <label for="price2">Under $50</label>
            </li>
            <li class="asideMenu__option">
              <input
                type="radio"
                class="btn-check"
                name="options"
                id="price3"
                autocomplete="off"
                value="100"
                [(ngModel)]="priceFilter"
              />
              <label for="price3">Under $100</label>
            </li>
            <li class="asideMenu__option">
              <input
                type="radio"
                class="btn-check"
                name="options"
                id="price4"
                autocomplete="off"
                value="150"
                [(ngModel)]="priceFilter"
              />
              <label for="price4">Under $150</label>
            </li>
            <li class="asideMenu__option">
              <input
                type="radio"
                class="btn-check"
                name="options"
                id="price5"
                autocomplete="off"
                value="200"
                [(ngModel)]="priceFilter"
              />
              <label for="price5">Under $200</label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div class="accordion-item">
      <h2 class="accordion-header">
        <a
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse1"
          aria-expanded="false"
          aria-controls="flush-collapse1"
        >
          Events
        </a>
      </h2>
      <div
        id="flush-collapse1"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <ul class="asideMenu">
            <li class="asideMenu__option">Square Enix Golden Week Sale</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse3"
          aria-expanded="false"
          aria-controls="flush-collapse3"
        >
          Events
        </a>
      </h2>
      <div
        id="flush-collapse3"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <ul class="asideMenu">
            <li class="asideMenu__option">Square Enix Golden Week Sale</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse4"
          aria-expanded="false"
          aria-controls="flush-collapse4"
        >
          Events
        </a>
      </h2>
      <div
        id="flush-collapse4"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <ul class="asideMenu">
            <li class="asideMenu__option">Square Enix Golden Week Sale</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse5"
          aria-expanded="false"
          aria-controls="flush-collapse5"
        >
          Events
        </a>
      </h2>
      <div
        id="flush-collapse5"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <ul class="asideMenu">
            <li class="asideMenu__option">Square Enix Golden Week Sale</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse6"
          aria-expanded="false"
          aria-controls="flush-collapse6"
        >
          Events
        </a>
      </h2>
      <div
        id="flush-collapse6"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <ul class="asideMenu">
            <li class="asideMenu__option">Square Enix Golden Week Sale</li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>
  <!-- <hr />
  <div class="bg-secondary">
    <div class="d-flex justify-content-center">
      <h3 class="p-1 m-1">THE CART</h3>
    </div>
    <div class="card p-1 m-1">
      <div class="row">
        <h5 class="col p-1 m-1">Total :</h5>
        <h5 class="col"></h5>
      </div>
    </div>
    <hr />
    <div class="card bg-secondary">
      <div class="card p-3">
        <div class="row">
          <h5 class="col">Name :</h5>
          <h5 class="col"></h5>
        </div>
        <div class="row">
          <h5 class="col">Price :</h5>
          <h5 class="col"></h5>
        </div>
        <div class="row">
          <h5 class="col">Quantity :</h5>
          <h5 class="col"></h5>
        </div>
        <div class="row">
          <h5 class="col">Total :</h5>
          <h5 class="col"></h5>
        </div>
        <div class="btn bg-danger">Delete</div>
      </div>
    </div>
  </div> -->
</div>
